@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Roboto", sans-serif;
}

input{
    outline: none;
    border: 1px solid #c0b9b9;
    background-color: #f5f5f5;
    font-size: 1em;
    border: 2px solid #a5bed3;
    
    &:focus{
        border-color: #0058a5;
        box-shadow: 0 0 5px rgba(0, 88, 165, 0.5) ;
    }
}

.background-image{
    width: 100%;
    height: 100vh;
    background-image: url('https://e1.pxfuel.com/desktop-wallpaper/407/1022/desktop-wallpaper-website-backgrounds-login-page.jpg');
    background-size: cover;
    background-position: center;
    font-family: 'Roboto', sans-serif;
}